---
- name: Rulebook for Netops demo
  hosts: localhost

  sources:
     - name: Monitor kafka cisco topic
       ansible.eda.kafka:
         host: kafka-kafka-bootstrap.{{ ansible_demo_namespace }}.svc.cluster.local
         port: 9092
         topic: cisco

{% raw %}
  rules:

    - name: Trigger BGP validation
      condition: event.body.fields is not regex("service", ignorecase=true) and event.body.fields is regex("bgp", ignorecase=true)
      action:
        run_job_template:
          name: "[JT] Trigger Cloud Router BGP validation"
          organization: Default
          job_args:
            extra_vars:
              device_hostname: "{{ event.body.tags.source }}"

{% endraw %}

