---
- name: Rulebook for Netops demo
  hosts: localhost

  sources:
     - name: Check new service requests
       cloin.eda.snow_records:
         instance: "{{ snow_instance_host }}"
         username: "{{ snow_eda_username }}"
         password: "{{ snow_eda_password }}"
         table: sc_req_item
         interval: 1

{% raw %}
  rules:
    - name: Deploy cloud Virtual Router
      condition: event.short_description == "Request form for a new Router in AWS"
      action:
        run_job_template:
          name: "[JT] Trigger Cloud Router Deploy Workflow"
          organization: Default
          job_args:
            extra_vars:
              service_request_id: "{{ event.number }}"

{% endraw %}

