---
- name: Rulebook for Webhooks Activation
  hosts: localhost

  sources:
    - ansible.eda.webhook:
        host: 0.0.0.0
        port: 5000

{% raw %}
  rules:
    - name: Process Repo change
      condition: event.payload.commits is defined
      action:
        run_job_template:
          name: "[JT] Trigger Cloud Router Configuration Change"
          organization: Default
          job_args:
            extra_vars:
              webhook_payload: "{{ event.payload }}"

{% endraw %}
